---
permalink: /feed.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>Cape Ann Amateur Radio Association</title>
  <link href="https://caara-net.oddbit.com/feed.xml" rel="self" />
  <link href="https://caara-net.oddbit.com/" />
  <updated>{{ build.timestamp | date: "%Y-%m-%dT%H:%M:%S%z" }}</updated>
  <author>
    <name>Cape Ann Amateur Radio Association</name>
    <email>info@caara.net</email>
  </author>
  <id>https://caara-net.oddbit.com/feed.xml</id>
{% for post in collections.post limit: 10 %}
  <entry>
    <title>{{ post.data.title }}</title>
{% if post.data.author %}
    <author>
      <name>{{ post.data.author | formatAuthorPlain }}</name>
    </author>
{% endif %}
    <content type="text/html">
      {{ post.content }}
    </content>
    <link href="{{ post.url }}" />
    <id>{{ post.url }}</id>
    <updated>{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z"}}</updated>
{% if post.data.summary %}
    <summary>
      {{ post.data.summary }}
    </summary>
{% endif %}
  </entry>
{% endfor %}
</feed>
