---
permalink: /feed.xml
layout: false
---
<?xml version="1.0" encoding="utf-8"?>
<?xml-stylesheet href="/style/atom.css" type="text/css" title="Default style"?>
<feed xmlns="http://www.w3.org/2005/Atom" xmlns:oddbit="http://schema.oddbit.com/atom">
  <title>Cape Ann Amateur Radio Association</title>
  <link href="{{ site.url }}/feed.xml" rel="self" />
  <link href="{{ site.url }}/" />
  <updated>{{ build.timestamp | date: "%Y-%m-%dT%H:%M:%S%z" }}</updated>
  <author>
    <name>Cape Ann Amateur Radio Association</name>
    <email>info@caara.net</email>
  </author>
  <id>{{ site.url }}/feed.xml</id>
{% for post in collections.post limit: 10 %}
  <entry>
    <title>{{ post.data.title }}</title>
{% if post.data.author %}
    <author>
      <name>{{ post.data.author | formatAuthorPlain }}</name>
    </author>
{% endif %}
    <content type="xhtml">
      <div xmlns="http://www.w3.org/1999/xhtml">{{ post.content }}</div>
    </content>
    <link href="{{ site.url }}{{ post.url }}" />
    <id>{{ site.url }}{{ post.url }}</id>
    <updated>{{ post.date | date: "%Y-%m-%dT%H:%M:%S%z"}}</updated>
{% if post.data.summary %}
    <summary>
      {{ post.data.summary }}
    </summary>
{% endif %}
  </entry>
{% endfor %}
</feed>
